@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
	box-sizing: border-box;
}
	h1 {text-align: center;}

body {
	margin: 30;
	background-color: #aeadff;
	background-image: url("https://images.squarespace-cdn.com/content/v1/5c80324b29f2cc57eb5a3e1f/1597776189044-II1TOG1TQTYFC3UK01GN/c+section+picture.jpg?format=750w");
	font-family: Montserrat, sans-serif;
	
}
